body {
	font-family: arial;
	background: rgb(209, 209, 209);
	text-align: center;
}

h1 {
	color: black;
	background: linear-gradient(20deg, rgba(10, 10, 10, 0.5), rgba(200, 200, 200, 0.5)) url("images/johnny.jpg") ;
	padding: 100px;
}

img {
	width: 300px;
}

a {
	text-decoration: none;
}

a:hover {
	background: black;
}

ol {
	text-align: left;
}
